@page "/beacon/{beaconId:guid}"

<h3>Beacon</h3>

@if (beacon is null)
{
    <div>
        No beacon active
    </div>
}
else
{
    <div>
        Active beacon: Lat: @beacon.Coords.Latitude, Long: @beacon.Coords.Longitude
    </div>


    @if (currentPosition is null)
    {
        <div>
            Current position unknown.
        </div>
    }
    else
    {
        <div class="mb-3">
            Current position is: Lat: @currentPosition.Coords.Latitude, Long: @currentPosition.Coords.Longitude
        </div>

        @if (watching)
        {
            <button class="button" @onclick="() => StopWatchAsync()">Stop watching</button>
        }
        else
        {
            <button class="button" @onclick="() => StartWatchAsync()">Start watching</button>
        }
    }
}